<header class="navbar" [class.scrolled]="isScrolled">
  <div *ngIf="!isMobile" class="menu-left">
    <div class="mobile-logo">
      <img src="assets/icons/logo.svg" alt="Logo" class="logo" (click)="navigateTo('about')">
    </div>

    <nav>
      <ul class="nav-links">
        <li>
          <a (click)="navigateTo('about')" [class.active]="currentSection === 'about'" [attr.data-hover]="'menu.about' | translate">
            <span>{{ 'menu.about' | translate }}</span>

          </a>
        </li>
        <li>
          <a (click)="navigateTo('works')" [class.active]="currentSection === 'works'" [attr.data-hover]="'menu.works' | translate">
            <span>{{ 'menu.works' | translate }}</span>

          </a>
        </li>
        <li>
          <a (click)="navigateTo('contact')" [class.active]="currentSection === 'contact'" [attr.data-hover]="'menu.contact' | translate">
            <span>{{ 'menu.contact' | translate }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- 📌 Menú móvil -->
  <div *ngIf="isMobile" class="mobile-navbar">
    <div class="mobile-navbar-content">
      <div class="mobile-logo">
        <img src="assets/icons/logo.svg" alt="Logo" class="logo" (click)="navigateTo('about')">
      </div>
      <div class="mobile-title">
        <h2 class="section-name">{{ getTranslatedSectionName() | uppercase }}</h2>
      </div>

      <div class="mobile-menu-btn">

        <button class="menu-toggle" (click)="toggleMenu()">☰</button>
      </div>
    </div>
  </div>


  <!-- 📌 Menú lateral responsive -->
  <nav class="nav-menu" [class.open]="menuOpen" *ngIf="isMobile">
    <button class="close-menu" (click)="toggleMenu()">✖</button>
    <ul class="nav-links">
      <li>
        <a (click)="navigateTo('about')" [class.active]="currentSection === 'about'">
          {{ 'menu.about' | translate }}
        </a>
      </li>
      <li>
        <a (click)="navigateTo('works')" [class.active]="currentSection === 'works'">
          {{ 'menu.works' | translate }}
        </a>
      </li>
      <li>
        <a (click)="navigateTo('contact')" [class.active]="currentSection === 'contact'">
          {{ 'menu.contact' | translate }}
        </a>
      </li>
    </ul>
  </nav>

  <div class="menu-right">
    <a href="mailto:eath2497@gmail.com?subject=Inicio de Proyecto"
      class="highlight"
      [attr.data-hover]="'menu.start_project_contact' | translate">
      <span>{{ 'menu.start_project' | translate }}</span>
    </a>
  </div>
</header>

<!-- Botón flotante para cambiar idioma -->
<div class="language-selector" (click)="toggleDropdown()" [class.open]="showDropdown">
  <!-- Idioma actual -->
  <div class="selected-language">
    <img [src]="currentLanguage === 'es' ? 'assets/icons/es_ES.png' : 'assets/icons/en_US.png'"
         alt="Current Language" class="lang-icon">
    <span>{{ currentLanguage === 'es' ? 'Español' : 'English' }}</span>
  </div>
  <div class="dropdown-menu" *ngIf="showDropdown">
    <div *ngFor="let lang of getOtherLanguage()" class="dropdown-item" (click)="switchLanguage(lang.code)">
      <img [src]="lang.flag" alt="{{ lang.label }}" class="lang-icon">
      <span>{{ lang.label }}</span>
    </div>
  </div>
</div>
