<div class="about-me-container">
  <h1 class="title">
    {{ 'about.description' | translate }}
  </h1>
  <div class="subtitle">{{ 'about.myself' | translate }}</div>
  <p class="description">
    {{ 'about.myself_description' | translate }}</p>

  <div class="technologies-section">
      <div class="technologies-title">{{ 'about.technologies' | translate }}</div>
      <p class="technologies-list"> ANGULAR / VUE / .NET / C# / LARAVEL</p>
  </div>

  <div class="contact-section">
    <div class="contact-title">{{ 'about.contact' | translate }}</div>
    <p class="contact-info">
        <a [href]="'mailto:' + email">{{ email }}</a>
    </p>
</div>

</div>
