<div class="fade-in">
  <div class="about-header">
    <div class="about-title">
      <h1 class="title">
        {{ 'about.description' | translate }}
      </h1>
      <h3 class="subtitle"><span>{{ animatedText }}</span><span class="cursor">|</span></h3>
      <button (click)="sendEmail()" class="contact-btn">{{ 'about.contact_me' | translate }}</button>
    </div>
  </div>
  <section id="companies-section" #companiesSection [ngClass]="{'fade-in-section': true, 'fade-in-visible': companiesLoaded}">
    <app-companies></app-companies>
  </section>


  <section id="experience-section" #experienceSection [ngClass]="{'fade-in-section': true, 'fade-in-visible': experienceLoaded}">
    <app-experience-education></app-experience-education>
  </section>

  <div class="cv-download-container">
    <a [href]="getCVLink()" download class="cv-download-btn">{{ 'about.download_cv' | translate }}</a>
  </div>

  <section id="skills-section" #skillsSection [ngClass]="{'fade-in-section': true, 'fade-in-visible': skillsLoaded}">
    <app-skills (navigateToEvent)="navigateTo($event)"></app-skills>
  </section>

</div>
