<header class="navbar" [class.scrolled]="isScrolled">
  <div class="menu-left">
    <h1 class="logo">ET</h1>
    <nav>
      <ul class="nav-links">
        <li><a (click)="navigateTo('/')">{{ 'menu.home' | translate }}</a></li>
        <li><a (click)="navigateTo('/projects')">{{ 'menu.projects' | translate }}</a></li>
        <li><a (click)="navigateTo('/about')">{{ 'menu.about' | translate }}</a></li>
        <li><a (click)="navigateTo('/contact')">{{ 'menu.contact' | translate }}</a></li>
      </ul>
    </nav>
  </div>
  <div class="menu-right">
    <div class="language-selector">
      <img src="assets/icons/flag-es.svg" alt="Español" (click)="changeLanguage('es')">
      <img src="assets/icons/flag-en.svg" alt="English" (click)="changeLanguage('en')">
    </div>
    <a (click)="navigateTo('/contact')" class="highlight">{{ 'menu.start_project' | translate }}</a>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>