<div class="fade-in">
  <section class="works">
    <h2 class="works-title">{{ 'works.selected' | translate }}</h2>

    <div class="works-container">
      <div class="work-item" *ngFor="let work of works">
        <div class="work-image">
          <img class="main-img" [src]="work.image" [alt]="work.name">
        </div>
        <div class="work-info">
          <h3 class="work-title">{{ work.name }}</h3>
          <p class="work-meta">{{ work.year }} | {{ work.technologies }}</p>
        </div>
      </div>
    </div>
  </section>



</div>
