/* 📌 Works Section */
.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px 0;
}

/* 📌 Title */
.works-title {
  font-family: "Montreal-Bold", sans-serif;
  font-size: 6.5rem;
  line-height: 8.4rem;
  color: black;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
}

/* 📌 Works Container */
.works-container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.work-item {
  position: relative;
  width: 50%; /* Para que siempre sean dos por fila */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  background: white;
}

/* 📌 Work Image */
.work-image {
  position: relative;
  width: 100%;
  height: 400px; /* Ajusta la altura */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagen principal */
.work-image .main-img {
  width: 80%; /* 📌 Asegura que la imagen principal cubra todo el contenedor */
  height: 100%;
  object-fit: cover; /* 📌 Evita distorsiones */
  transition: filter 0.3s ease-in-out;

  @media (max-width: 1024px) {
    width: 90%; /* 📌 Asegura que la imagen principal cubra todo el contenedor */
    height: 60%;
  }
}

/* Imagen hover */
.work-image .hover-img {
  position: absolute;
  width: 70%; /* 📌 Ajusta el tamaño de la imagen hover */
  height: auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Mostrar la imagen hover al pasar el mouse */
.work-item:hover .hover-img {
  opacity: 1;
  transform: scale(1.1);
}

/* Convertir la imagen principal en gris claro */
.work-item:hover .main-img {
  filter: grayscale(100%) brightness(85%);
}

/* Responsivo */
@media (max-width: 1024px) {
  .works-container {
    flex-direction: column;
    gap: 15px;
  }

  .work-item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .work-item {
    width: 90%;
    max-width: 400px;
  }

  .work-image {
    height: 250px;
  }
}

/* 📌 Work Info */
.work-info {
  padding: 20px;
  text-align: center;
  font-family: "Montreal-Bold", sans-serif;
}

.work-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0;
}

/* 📌 Work Metadata */
.work-meta {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* 📌 Ocultar metadata en vista responsive */
@media (max-width: 1024px) {
  .work-meta {
    display: none;
  }

  .work-title {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .works-title {
    font-size: 2rem;
    line-height: 1;
  }

  .works-container {
    flex-direction: column;
    gap: 15px;
  }

  .work-item {
    width: 100%;
  }
}
