<section class="companies">
  <div class="comp-container">
    <h2 class="companies-title">{{ 'companies.title' | translate }}</h2>
    <p class="companies-subtitle">{{ 'about.myself_description' | translate }}</p>
    <div class="companies-container">
      <div class="company-logo" *ngFor="let company of companies" (click)="openCompanyUrl(company.url)">
        <div class="logo-wrapper">
          <img [src]="company.logo" [alt]="company.name">
        </div>
      </div>
    </div>
  </div>
</section>
